
<h2 mat-dialog-title>Create a new task</h2>
<mat-dialog-content>
  <mat-form-field>
    <mat-label>Task name</mat-label>
    <input matInput [(ngModel)]="task"/>
  </mat-form-field>
  <mat-form-field class="text">
    <mat-label>Description</mat-label>
    <textarea matInput></textarea>
  </mat-form-field>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Back</button>
  <button mat-button [mat-dialog-close]="task()" cdkFocusInitial>Ok</button>
</mat-dialog-actions>