<div >
    <h1>In Progress</h1>
    <div
    cdkDropList
    id="in_progress"
    #in_progressList="cdkDropList"
    [cdkDropListData]="in_progress"
    [cdkDropListConnectedTo]="['todo','done','backlog']"
    [cdkDropListDisabled]="role === 'guest'"
    class="list-group border border-secondary"
    (cdkDropListDropped)="drop($event,'in_progress')">
    @for (item of in_progress; track item?._id) {
      <div class="list-group-item" cdkDrag [cdkDragDisabled]="role === 'guest'">{{item?.title}}
        <a (click)="onDelete(item)">
          <span class="material-symbols-outlined" *ngIf="role === 'admin'">
            delete
          </span>
        </a>
        <a (click)="onUpdate(item)">
          <span class="material-symbols-outlined">
            edit
          </span>
        </a>
      </div>
    }
  </div>
  </div>
