<div >
    <h1>In Progress</h1>
    <div
    cdkDropList
    #in_progressList="cdkDropList"
    [cdkDropListData]="in_progress"
    [cdkDropListConnectedTo]="[]"
    class="list-group border border-secondary"
    (cdkDropListDropped)="drop($event)">
    @for (item of in_progress; track item) {
      <div class="list-group-item" cdkDrag>{{item}}
        <a (click)="onDelete()">
          <span class="material-symbols-outlined" style="width:25px; height:25px; margin-left: 180px;">
            delete
          </span>
        </a>
        <a (click)="onUpdate()">
          <span class="material-symbols-outlined" style="width:25px; height:25px; margin-left: 5px;">
            edit
          </span>
        </a>
      </div>
    }
  </div>
  </div>
