
<div>
    <h1 >To Do</h1>
  <div
    cdkDropList
    #todoList="cdkDropList"
    [cdkDropListData]="todo"
    [cdkDropListConnectedTo]="[]"
    class="list-group border border-secondary"
    (cdkDropListDropped)="drop($event)">
    @for (item of todo; track item) {
      <div class="list-group-item" cdkDrag>{{item}}
         <a (click)="onDelete()">
          <span class="material-symbols-outlined" style="width:25px; height:25px; margin-left: 180px;">
            delete
          </span>
        </a>
        <a (click)="onUpdate()">
          <span class="material-symbols-outlined" style="width:25px; height:25px; margin-left: 5px;">
            edit
          </span>
        </a>
      </div>
    }
  </div>
    
</div>
