
<div>
    <h1 >To Do</h1>
  <div
    cdkDropList
    id="todo"
    #todoList="cdkDropList"
    [cdkDropListData]="todo"
    [cdkDropListConnectedTo]="['in_progress','done','backlog']"
    [cdkDropListDisabled]="role === 'guest'"
    class="list-group border border-secondary"
    (cdkDropListDropped)="drop($event,'todo')">
    @for (item of todo; track item?._id) {
      <div class="list-group-item" cdkDrag [cdkDragDisabled]="role === 'guest'">{{item?.title}}
         <a (click)="onDelete(item)">
          <span class="material-symbols-outlined" *ngIf="role === 'admin'">
            delete
          </span>
        </a>
        <a (click)="onUpdate(item)">
          <span class="material-symbols-outlined">
            edit
          </span>
        </a>
      </div>
    }
  </div>
    
</div>
