<div class="row">
    <h1 class="col">Backlog</h1>
    <button
        style="width:60px; height:38px; margin-right:15px; margin-top:10px;"type="button" class="btn btn-primary col" 
        (click)="openAddTaskDialog()">Add Task</button>
</div>
<div
    cdkDropList
    #doneList="cdkDropList"
    [cdkDropListData]="backlog"
    [cdkDropListConnectedTo]="[]"
    class="list-group border border-secondary"
    (cdkDropListDropped)="drop($event)">
    @for (item of backlog; track item) {
      <div class="list-group-item" cdkDrag>{{item}}
         <button mat-mini-fab style="width:25px; height:25px; margin-left: 180px;">
         <mat-icon>delete</mat-icon></button>
         <button mat-mini-fab style="width:25px; height:25px; margin-left: 10px;">
         <mat-icon>menu</mat-icon></button>
      </div>
    }
</div>
<div>
     <button
        style="margin-top: 10px; margin-left: 10px;" type="button" class="btn btn-primary" 
        (click)="openAddTaskDialog()">Add Task</button>
</div>
