html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color:aquamarine;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
/*.white-card {
    background-color: #eee;
    border-radius: 0px;
    padding: 6px;
}*/